.nav-link {
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
}

.navbar-collapse.show, .navbar-collapse.collapsing {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 20px;
}

.navbar-dark.scrolled {
    background: rgba(0, 0, 0, 0.8);
    transition: 0.5s ease-in-out;
}